<!DOCTYPE html>
<html>
<head>
    <title>SID results</title>
</head>

<body>
    <div class="content">
        <div class="row header">
            <div class="cell left">
                <div class="info">
                    <span class="left">Submission file</span>
                    <span class="right">{{ current.file }}</span>
                    <span class="right score">[{{ current.similarity }} | {{ current.lines }}]</span>
                </div>
                <div class="info">
                    <span class="left">Potential source file</span>
                    <span class="right">{{ source.file }}</span>
                    <span class="right score">[{{ source.similarity }} | {{ source.lines }}]</span>
                </div>
            </div>
            <div class="cell right">
                <h2>Similar fragments:</h2>
                <div class="fragment-links"></div>
            </div>
        </div>
        <div class="row code">
            <div class="cell left">
                <h3>Submission file</h3>
                <pre></pre>
            </div>
            <div class="cell right">
                <h3>Potential source file</h3>
                <pre></pre>
            </div>
        </div>
    </div>
</body>
</html>
