<!DOCTYPE html>
<html>
<head>
    <title>SID results</title>
    <script type="text/javascript">
        var currentText = {{ current.text }};
        var sourceText = {{ source.text }};

        var indices = {{ indices | tojson }}; 
    </script>
</head>

<body>
    <div class="content">
        <div class="row header">
            <div class="cell left">
                <div class="info" id="targetFile">
                    <div class="left">Submission file</div>
                    <div class="right name">{{ current.file }}</div>
                    <div class="right score">
                        <span class="similarity">
                            {{ '%0.2f'| format(current.similarity|float) }}%
                        </span>
                        <span class="lines-matched">{{ current.lines }}</span>
                    </div>
                </div>
                <div class="info" id="sourceFile">
                    <div class="left">Potential source file</div>
                    <div class="right name">{{ source.file }}</div>
                    <div class="right score">
                        <span class="similarity">
                            {{ '%0.2f'| format(source.similarity|float) }}%
                        </span>
                        <span class="lines-matched">{{ source.lines }}</span>
                    </div>
                </div>
            </div>
            <div class="cell right">
                <h2>Similar fragments:</h2>
                <div class="fragment-links"></div>
            </div>
        </div>
        <div class="row code">
            <div class="cell left">
                <h3>Submission file</h3>
                <pre></pre>
            </div>
            <div class="cell right">
                <h3>Potential source file</h3>
                <pre></pre>
            </div>
        </div>
    </div>
</body>
</html>
