.info {
  display: flex;
  align-items: center;
  padding: 15px 15px 0 15px;
  font-size: 20px;

  .left {
    width: 175px;
    padding-right: 20px;
    display: inline-block;
    font-weight: 600;
    text-align: right;

    &::after {
      content: ":";
    }
  }

  .right {
    display: inline-block;

    &.score {
      padding-left: 10px;

      .lines-matched::before {
        content: "| ";
      }

      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }
  }

  > div {
    max-width: 500px;
    word-wrap: break-word;
  }
}

.fragment-links {
  padding: 10px;
  overflow: scroll;

  .fragment {
    margin: 5px 10px;
  
    a {
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
    
    span {
      padding-left: 20px;
    }
  }
}

